# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# Environment variables
.env

# logs
bot.log

# db
bot.db

# token
TOKEN

# config
config.json
